.winners {
    margin-top: 50px;
    width: 400px;
}

.winners__item {
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}

.title {
    color: #9e9c9c;
    margin-bottom: 25px;
}


@media (max-width: 992px) { 
    .title {
        text-align: center;
    }
}


@media (max-width: 576px) { 
    .winners {
        width: 100%;
    }

}