.menu {
    display: flex;
    margin-top: 50px;
    margin-left: 8px;
}

.menu__input {
    margin: 0 10px;
    padding: 0 15px;

    background: #f3f3f3;
    border: none;
}

.menu__input::placeholder {
    color: #8b9ba0;
}

.button {
    width: 100px;
}



@media (max-width: 576px) { 
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__input {
        margin: 20px 0;
        height: 38px;
        width: 180px;
    }

}