.field {
    width: 30px;
    height: 30px; 
    border: 1px solid #cccccc;
}

.field_gray{
    background: #42d8e8;
    cursor: pointer;
}

.field_red{
    background: #e85a5f;
}

.field_green{
    background: #00e871;
}

.board {
    width: 500px;
}

.table {
    margin: 0 auto;
}


@media (max-width: 576px) { 
    .board {
        width: 100%;
    }

}