/* override the styles of connected libraries of styles */

.dropdown-item {
    text-align: center;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #e6e6e6;
    pointer-events: none;
    background-color: #007bff;;
}

.dropdown-toggle {
    width: 160px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white !important;
}


.btn-secondary.disabled, .btn-secondary:disabled {
    cursor: default;
}


/* app */

.app {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
